img {
  height: auto;
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* header */
.header-area .contact {
  line-height: 40px !important;
}

.header-bottom .category-mobile-icon i {
  font-size: 20px;
}

.header-area .logo img {
  max-width: 100px;
  height: auto;
}

.header-in-container .header-bottom {
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 6%);
}

@media (max-width: 767px) {
  .shopping-cart-content .top-area {
    height: 240px;
    overflow-y: auto;
  }

  .shopping-cart-content .shopping-cart-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 0 10px;
  }
}

/* footer */
.copyright .footer-logo img {
  max-width: 140px;
  height: auto;
}

/* product details variation */
/* for color */
.pro-details-color-content input[type=radio] {
  display: none;
}

/*.pro-details-color-content input[type=radio]:checked+label .red {*/
/*  border: 2px solid #711313;*/
/*}*/

/*.pro-details-color-content input[type=radio]:checked+label .orange {*/
/*  border: 2px solid #a34200;*/
/*}*/

.pro-details-color-content input[type=radio]:checked+label span {
  border: 2px solid #816102;
}

.pro-details-color-content label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  cursor: pointer;
}

.pro-details-color-content label span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 0.2s ease-in-out;
}

.pro-details-color-content label span.red {
  background: #DB2828;
}

.pro-details-color-content label span.orange {
  background: #F2711C;
}

.pro-details-color-content label span.yellow {
  background: #FBBD08;
}

/* for size */
.pro-details-size-content input {
  display: none;
}

.pro-details-size-content label {
  display: inline-block;
  background-color: #343538;
  color: #fff;
  margin-top: 0.1em;
  cursor: pointer;
  padding: 4px 10px;
  font-size: 14px;
}

.pro-details-size-content input:checked+label {
  transition: 0.2s ease-in-out;
  background-color: #ed1c24;
  color: #fff;
  font-weight: 400;
}

.pro-details-size-content input:disabled+label {
  background-color: #ccc;
  color: #fff;
  font-weight: 400;
}

.pro-details-size-content .variant-select__title {
  vertical-align: middle;
  margin-bottom: 0 !important;
}

/* rating select */
.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5em;
  justify-content: space-around;
  padding: 0 .2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
}

.star-rating :checked~label {
  color: #f90;
}

.star-rating label:hover,
.star-rating label:hover~label {
  color: #fc0;
}

/* header bottom two */
.header-bottom-two {
  background: #fff;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 6%);
  border-top: 1px solid #eee;
}

/* header dropdown for category */
.menuH {
  width: 100%;
  behavior: url("/horizontal/menuh/cssmenu.htc");
  position: relative;
  list-style: none;
  z-index: 10;
}

.menuH li {
  position: relative;
}
ul.menuH .home-parent-categories {
  transform: rotateX(0deg);
}
.stick ul.menuH .home-parent-categories {
  left: 0;
  transition: 0.3s;
  transform: rotateX(90deg);
}

.menuH li:hover,
.menuH li.onhover {
  background: #fff;
}

ul.menuH a {
  padding: 11px;
  display: block;
  outline: 0;
}

ul.menuH a.heading {
  background: #eee;
}

ul.menuH a.heading i {
  font-size: 20px;
}

/* .menuH ul a.arrow {
    background: url(http://www.schaeffler.com/remotemedien/media/_shared_media/technik/images/barden_blue/arrow_transparent_barden_blue.gif) no-repeat 97% center;
    background-size: 15px;
}    */
/*Used to align a top-level item to the right*/
/* .menuH .menuRight
{
    float: right;
    margin-right: 0px;
} */

/*for the top-level separators*/
/* .menuH li.separator {
    font-size:0;
    overflow:hidden;
    border-left:1px solid #F7F7F7;
    border-right:1px solid #BBBBBB;
}     */

/*######sub level###########*/
.stick ul.menuH .home-nav-category-btn:hover .home-parent-categories {
  transform: rotateX(0deg);
}
.stick .header-search {
  display: block !important;
}
ul.menuH ul {
  width: 270px;
  position: absolute;
  left: 0;
  transform: rotateX(90deg);
  border: 1px solid #DDD;
  border-top: 0;
  background: #FFF;
  list-style: none;
  padding: 0 1px 10px 0;
  transition: 0.3s;
}

.menuH li li {
  padding: 7px 0;
}

.menuH li li:hover,
.menuH li li.onhover {
  background: #f7f7f7;
}

.menuH ul a {
  padding: 0 20px;
}

.menuH li:hover ul,
.menuH li.onhover ul {
  top: auto;
  transform: rotateX(0deg);
}

.menuH li:hover .dropToLeft,
.menuH li.onhover .dropToLeft {
  left: auto;
  right: -1px;
  top: auto;
}

.menuH ul ul {
  border-top: 1px solid #DDD;
  transition: 0s;
}

.menuH li:hover ul ul,
.menuH li:hover ul ul ul,
.menuH li:hover ul ul ul ul,
.menuH li.onhover ul ul,
.menuH li.onhover ul ul ul,
.menuH li.onhover ul ul ul ul {
  left: -9999px;
  top: 0;
}

.menuH li li:hover ul,
.menuH li li li:hover ul,
.menuH li li li li:hover ul,
.menuH li li.onhover ul,
.menuH li li li.onhover ul,
.menuH li li li li.onhover ul {
  left: 267px;
}

/* fb page like header */
.header-bottom-two .fb-page-like i {
  color: #3b5998;
  font-size: 18px;
}

/* big search */
.header-bottom .big-search .form-control:focus {
  box-shadow: none;
}

/* category mobile styles */
.dark-overlay {
  background: #0000004a;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1600;
  display: none;
}
.right-toogle-nav {
  color: #343538;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  left: -1000px;
  background: #fff;
  z-index: 10000;
  overflow: scroll;
  transition: 0.5s;
}
.right-toogle-nav .inner {
  padding: 10px 0px;
}
.right-toogle-nav .all-item li {
  padding: 10px 10px;
  border-bottom: 1px solid #aaa;
}
.right-toogle-nav .all-item li li {
  border: none;
}
.right-toogle-nav .all-item a {
  display: block;
  color: #343538;
  font-size: 16px;
  padding: 2px 3px;
}
.right-toogle-nav .all-item a:hover {
  text-decoration: none;
}
.right-toogle-nav * {
  color: #343538;
  font-size: 16px;
}

/* home page category section here */
.category-buttons .category-name {
  transition: 0.3s;
  text-align: center;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  padding: 20px 10px;
}
.category-buttons .category-name img {
  width: 30px;
  height: 30px;
}
.category-buttons .nav-tabs {
  border-bottom: none;
}

.product-wrap-5 .product-img, .product-wrap {
  overflow: hidden;
}
.product-wrap-5:hover img {
  transform: scale(1.2);
}
.product-wrap:hover img {
  transform: scale(1.2);
}

/* zoom image */
.product-details .zoom {
	background-repeat: no-repeat;
	max-width: 100%;
	overflow: hidden;
	cursor: zoom-in;
	margin: auto;
	filter: none !important;
}
.product-details .zoom img {
	transition: opacity .5s;
	display: block;
	width: 100%;
}
.product-details .zoom img:hover {
	opacity: 0;
}

/* fixed cart button area */
.cart-button-fixed {
  position: fixed;
  right: 0;
  top: 45%;
  background: #dddddd8f;
  text-align: center;
  padding: 8px 10px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}
.cart-button-fixed i {
  font-size: 26px;
}
.cart-button-fixed:hover {
  background: #fff;
  color: #DB2828;
  box-shadow: 0px 0px 6px -4px #000;
}

/* fixed cart area */
.full-body-overlay {
  background: #27272752;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: none;
}
.side-nav {
  position: fixed;
  height: 100vh;
  width: 315px;
  top: 0;
  bottom: 0;
  right: -500px;
  background: #fff;
  overflow-y: auto;
  z-index: 10000;
  transition: 0.4s;
}
.side-nav .close-icon {
  font-size: 20px;
  cursor: pointer;
  padding: 0 10px;
}
.side-cart .product-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.side-cart .name-area {
  max-width: 170px;
}
.side-cart .fa-trash {
  cursor: pointer;
}

/* shop column style */
.shop-top-bar .column-select-area .line-item {
  border: 3px solid rgb(87, 87, 87);
  padding: 0 8px;
  margin: 0 8px;
}
.shop-top-bar .column-select-area .line-single {
  font-weight: 900;
}

/* chat icon style here */
.chat-icon-area {
  position: fixed;
  right: 30px;
  bottom: 20px;
  cursor: pointer;
  z-index: 9811 !important;
}
.chat-icon-area i {
  padding: 10px;
  background: #505050;
  font-size: 30px;
  color: #fff;
  border-radius: 50px;
}

.category-buttons .category-name:hover {
  background: #f7f7f7;
}

.your-order-area .Place-order button {
  background-color: #ed1c24;
  color: #fff;
  display: block;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  padding: 18px 20px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  z-index: 9;
  width: 100%;
  border: 0;
}
.your-order-area .Place-order > button:hover {
  background-color: #333;
}

/* compare product design */
.compare-price {
    color: #ed1c24;
}
.pro-details-rating-wrap i.yellow {
    color: #F2711C;
}
input.form-control:focus {
    box-shadow: none !important;
    border-color: unset !important;
}

@media (max-width: 400px) {
  .single-slider-2 .slider-content-20 {
    text-align: center;
  }
  .header-right-wrap .same-style .account-dropdown {
    left: -20px;
  }
}


/*  */
.slick-prev:before, .slick-next:before {
  color: #e42121;
}
.category-buttons .slick-slide img {
  display: unset;
}
.toggle-nav-cross {
  text-align: center;
  padding: 4px 5px;
  color: #fff;
  position: fixed;
  width: 40px;
  top: 0;
  left: -1000px;
  background: #333;
  z-index: 10000;
  overflow: scroll;
  transition: 0.5s;
}

.collections-area .category-buttons .nav-items {
  min-height: 105px;
}
.collections-area .category-buttons .nav-items .category-name {
  min-height: 92px;
}

/* preloader style */
/* preloader */
.loader_bg {
  position: fixed;
  z-index: 999999;
  background: #F8F9FA;
  width: 100%;
  height: 100%; }

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px); }

.loader:before, .loader:after {
  content: '';
  border: 1em solid #ed1c24;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0; }

.loader:before {
  animation-delay: .5s; }

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 0; } }