.app-content .card-header img {
    width: 100px;
    height: auto;
}
.main-menu .navbar-header img {
    width: 120px;
    height: auto;
}
img {
    height: auto;
    max-width: 100%;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}
